In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data.csv')
df.head()

,name,schedule,accept_temporary,published_at,city,salary_from,salary_to
0,Data scientist,remote,False,2022-12-29T12:15:51+0300,Москва,150000.0,200000.0
1,"Machine Learning Engineer, Разработка средств ...",fullDay,False,2022-12-27T08:07:42+0300,Уфа,80000.0,80000.0
2,Machine learning engineer/ разработчик машинно...,remote,False,2022-12-19T13:22:24+0300,Пермь,200000.0,400000.0
3,Senior Machine Learning Engineer (NLP/Speech),fullDay,False,2022-12-19T09:10:55+0300,Сочи,314000.0,314000.0
4,Data Scientist (команда Поиска),fullDay,False,2022-12-19T16:42:19+0300,Москва,350000.0,350000.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2286 entries, 0 to 2285
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              2286 non-null   object
 1   schedule          2286 non-null   object
 2   accept_temporary  2286 non-null   bool
 3   published_at      2286 non-null   object
 4   city              2286 non-null   object
 5   salary_from       2286 non-null   float64
 6   salary_to         2286 non-null   float64
dtypes: bool(1), float64(2), object(4)
memory usage: 109.5+ KB